#addInventory{
    background: var(--theme-backgroundModal);
    border:3px solid white;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);

    border: 1px solid var(--theme-borderColor);
    border-radius: 6vw;
    padding: 0 3vh 2vh;
    height: 65vh;
    width: 50vw;
    z-index:1000;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    transition: 200ms ease-in-out;
    display:none;


    grid-template-columns: 17vw 1fr;
    grid-template-rows: 1fr 4fr 0.1fr;
    grid-template-areas:
    "FilterButton search search"
    "liste pets pets"
    "liste liste2 liste2";
}

#closeButton{
    z-index:200;
    position:absolute;
    padding: 0;
    top: -1.5vh;
    right: -1.5vh;
    width: 2vw;
    height: 2vw;
    background: none;
    border: none;
    cursor: pointer;
}

#closeButton img {
    position: absolute;
    /* padding: 0;
    top: -1.5vh;
    right: -0.9vh; */
    width: 2vw;
    height: 2vw;
    background: none;
    border: none;
    cursor: pointer;
}

.SideFilters {
    grid-area: FilterButton;
    background-color: transparent;
    cursor: pointer;
    height: 5vh;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0;
    margin: auto;
}

#filterText{
    margin-left: 1.5vw;
    white-space: nowrap;
    color: var(--theme-textoption);
    font-size: max(1.5vw,2vh);
}

#filterImage{
    width: 2.8vh;
    height: 2.8vh;
    border: none;
    filter: var(--theme-Filteroption);
}


#petSearch{
    position: relative;
    width: 30vw;
    height: 4vh; /* Increase the height to accommodate the text */
    padding: 0.75vh 0; /* Adjust padding for vertical and horizontal spacing */
    background: transparent;
    border-radius: 30px;
    border: 1px solid var(--theme-borderColor);

    grid-area: search;
    font-family: 'Aileron';
    text-transform: uppercase;
    text-indent: 2vw;
    color: var(--theme-textoption);
    margin: auto;
    justify-self: center;
    font-size: 2.5vh;
    font-weight: 700;
    
    /* Center text vertically using flexbox */
    display: flex;
    align-items: center;
    
    /* Prevent text overflow */
    overflow: hidden;
}

#petSearchImage{
    position:absolute;
    right:5%;
    /* top: 50%; */
    right: 4vw;
    /* transform: translateY(-50%); */
    cursor: pointer;
    width: 3.5vh; 
    height: 3.5vh;
    pointer-events: none;
    filter: var(--theme-Filteroption);
}

#petSearchDiv{
    grid-area: search;
}

#petSearch:focus{
    color:var(--theme-textoption);
    outline: none;
    background: var(--theme-background);
}



#petSearch::placeholder{
    color:white;
}








#filter{
    /* padding:max(0.4vw, 0.8vh);
    width:20%; */
    height: 95%;
    overflow-y: auto;
    grid-area: liste;

}

#filterButtons{
    padding: 0;
    width: fit-content;
    grid-area: liste;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vh;
    margin-left: -0.1vw;
    padding-top: 0.03vh;
    padding-bottom: 0.03vh;
    overflow: auto;
    text-transform: uppercase;
}

.filterButton{
    cursor:pointer;
    background: var(--theme-backgroundModal);
    border-radius: 40px;
    border: 1px solid var(--theme-borderColor);
    width: 13vw;
    height: fit-content;
    padding: 0;
    margin: 1vh 0;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: center;
    font-size: min(10vw, 3vh);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--theme-textoption);
}

#all {
    border: 1px solid var(--theme-Highlight);
    color: var(--theme-Highlight);
}




.center{
    display:flex;
    justify-content:center;
    align-items:center;
}


#petImages {
    grid-area: pets;
}







#petImages::-webkit-scrollbar {
    width: 1.8vw;
    border-radius: 30px; 
    border: 1px solid var(--theme-borderColor);
  }
  
  #petImages::-webkit-scrollbar-thumb {
    background: var(--theme-backgroundModal);
    background-size: 100% 100%;
    border-radius: 30px;
    border: 1px solid var(--theme-borderColor);
    height: 5vw;
  }
  
  #petImages::-webkit-scrollbar-track {
    background: var(--theme-backgroundModal);
    border-radius: 30px; 
    border: 1px solid var(--theme-borderColor);
  }
  




  #filter::-webkit-scrollbar {
    width: 1.8vw;
    border-radius: 30px; 
    border: 1px solid var(--theme-borderColor);
  }
  
  #filter::-webkit-scrollbar-thumb {
    background: var(--theme-backgroundModal);
    background-size: 100% 100%;
    border-radius: 30px;
    border: 1px solid var(--theme-borderColor);
    height: 5vw;
  }
  
  #filter::-webkit-scrollbar-track {
    background: var(--theme-backgroundModal);
    background-size: 100% 100%;
    border-radius: 30px; 
    border: 1px solid var(--theme-borderColor);
  }











#imageButtons{
    grid-area: liste2;


    display:flex;
    justify-content:center;
    align-items:center;
    padding: 0;
    flex-direction:row;
    justify-content: space-between;
    padding-top:max(2vw, 4vh);
    color:white;
    margin: 0 1vw;

}


#petImages {
    grid-gap: auto;
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    grid-area: pets;
    margin: auto;


    display: grid;
    grid-template-columns: repeat(auto-fill, max(6.2vw,12vh));
    grid-auto-rows: max(6.2vw,12vh);
    grid-row-gap: 1.2vw;
    grid-column-gap: 1.2vw;
    justify-content: center; /* Horizontally center the grid */
    grid-auto-flow: dense;
}

.petImage{
    /* width: 86%;
    height: 86%;
    background: var(--theme-backgroundModal);
    background-size: 100% 100%;
    border-radius: 2vh;
    border: 1px solid var(--theme-borderColor);
    margin: auto;
    padding: 7%;
    cursor: pointer; */
}

.petImage img {
    width: 86%;
    height: 86%;
    background: var(--theme-backgroundModal);
    background-size: 100% 100%;
    border-radius: 2vh;
    border: 1px solid var(--theme-borderColor);
    margin: auto;
    padding: 7%;
    cursor: pointer;
}




#flyButton, #rideButton, #regularButton, #neonButton, #megaButton {
    background: var(--theme-backgroundModal);
    background-size: 100% 100%;
    border-radius: 40px;
    padding: 0;
    padding-left: 2.25vw;
    padding-right: 2.25vw;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    text-align: center;
    font-size: min(10vw, 3vh);
    cursor: pointer;
    border: 1px solid var(--theme-borderColor);
    color: var(--theme-textoption);
}

#flyButton h1, #rideButton h1, #regularButton h1, #neonButton h1, #megaButton h1{
    font-size: min(10vw, 3vh);
    margin: 0;
}



/* #flyButton {background: linear-gradient(135deg, rgb(142, 202, 232) 0%, rgb(47, 152, 204) 50%, rgb(0, 134, 200) 100%);}
#rideButton {background: linear-gradient(135deg, rgb(255, 197, 220) 0%, rgb(237, 44, 121) 50%, rgb(255, 0, 101) 100%);} 
#regularButton {background: (135deg, rgb(255, 145, 0) 0%, rgb(255, 102, 102) 50%, rgb(255, 102, 102) 100%);} 
#neonButton {background: linear-gradient(135deg, rgb(193, 255, 110) 0%, rgb(140, 198, 63) 50%, rgb(19, 114, 11) 100%);}
#megaButton {background: linear-gradient(135deg, rgb(187, 80, 253) 0%, rgb(69, 3, 198) 50%, rgb(81, 28, 182) 100%);} */