main {
    width:81.25vw;
    padding-top:5vw;
    margin-left:18.75vw;
    display:flex;
    flex-direction:column;
    padding-bottom:10vw;
}

main > :nth-child(1) {
    width:62.5vw;
    display:flex;
    flex-direction:row;

}

main > :nth-child(1) > img {
    width:calc(180.7 / 19.2 * 1vw);
    aspect-ratio:1/1;
    position:absolute;
}

main > :nth-child(1) > div {
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:calc(180.7 / 19.2* 1vw);
}

main > :nth-child(1) > div >:nth-child(1) {
    color:rgb(54, 53, 55);
    font-size:calc(25 * 4 / 3 / 19.2 * 1vw);
    font-family:"Aileron", sans-serif;
    font-weight:300;
    text-align:center;
    width:100%;
    margin:0px;
}

main > :nth-child(1) > div >:nth-child(2) {
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:1vw;
    justify-content:center;
    width:100vw;
    height:calc(114.4 / 19.2 * 1vw);
    top:12vw;
    left:0%;
    transform:translate(0%, 0%);
    position:absolute;
    transition:transform 0.3s ease;
    z-index:10;
}

main > :nth-child(1) > div >:nth-child(3) {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:0.7vw;
    width:100%;
    padding-top:1vw;
}

main > :nth-child(1) > div >:nth-child(2) > button {
    padding:1vw;
    width:5vw;
    display:flex;
    align-items:center;
    justify-content:center;
    color:rgb(109, 107, 112);
    font-size:calc(16 * 4 / 3 / 19.2 * 1vw);
    font-family:"Aileron", sans-serif;
    border:0px solid black;
    position:relative;
    transition:font-weight 0.3s ease;
    cursor:pointer;
    background:transparent;
}

main > :nth-child(1) > div >:nth-child(2) > button.permaHover {
    font-weight:bold;
    color:rgb(54, 53, 55);
}

main > :nth-child(1) > div >:nth-child(2) > button.permaHover::after {
    width:100%;
}

main > :nth-child(1) > div >:nth-child(2) > button::after {
    content:"";
    position:absolute;
    left:50%;
    bottom:18%;
    width:0%;
    height:calc(2 / 19.2 * 1vw);
    border-radius:1px;
    background:linear-gradient(90deg, rgb(54, 53, 55, 0) 0%, rgb(54, 53, 55) 50%, rgb(54, 53, 55, 0) 100%);
    transform:translateX(-50%);
    transition:width 0.3s ease;
}

main > :nth-child(1) > div >:nth-child(2) > button:hover::after {
    width:100%;
}

main > :nth-child(1) > div >:nth-child(2) > button:hover {
    color:rgb(54, 53, 55);
    font-weight:bold;
}

main > :nth-child(1) > div >:nth-child(3) > button.unselected {
    border-color:rgb(54, 53, 55);
    color:rgb(54, 53, 55);
}

main > :nth-child(1) > div >:nth-child(3) > button {
    width:9.9375vw;
    height:calc(46.7 / 19.2 * 1vw);
    box-sizing:border-box;
    border:1px solid rgb(255, 102, 102);
    color:rgb(255, 102, 102);
    font-size:calc(14.1 * 4 / 3 / 19.2 * 1vw);
    font-family:"Aileron", sans-serif;
    border-radius:calc(46.7 / 19.2 * 1vw / 100 * 66);
    transition:border-width 0.05s ease, font-weight 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    cursor:pointer;
}


main > :nth-child(1) > div >:nth-child(3) > button:hover {
    border-width:2px;
    font-weight:bold;
}


.categoryTitle {
    font-size:calc(22 * 4 / 3 / 19.2 * 1vw);
    font-weight:800;
    font-family:"Aileron", sans-serif;
    margin:0px;
    padding-top:3vw;
    padding-bottom:1vw;

}

#allHistory > div > .categoryContainer {
    grid-template-columns:1fr 1fr 1fr 1fr;
    width:62.4vw;
}

.categoryContainer {
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    width:78vw;
    gap:1.0vw;
    padding-bottom:2px;
}


#allListings {
    display:flex;
    flex-direction:column;
}

#allListings > div {
    overflow:hidden;
    padding-left:0.6vw;
    padding-bottom:0.6vw
}

.historyListing {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0.5vw;
}

.historyListing > :nth-child(2) {
    font-size:calc(14.1 * 4 / 3 / 19.2 * 1vw);
    font-family:"Aileron", sans-serif;
    font-weight:bold;
    color:rgb(109, 107, 112);
    margin:0px;
}

.historyListing > :nth-child(3) {
    font-size:calc(12.8 * 4 / 3 / 19.2 * 1vw);
    font-family:"Aileron", sans-serif;
    font-weight:normal;
    color:rgb(109, 107, 112);
    margin:0px;
}
