
#signUpForm{
    display:flex;
    flex-direction:column;
    gap:15px;
    width:44vw;
}

#signUpForm1{
    display:flex;
    flex-direction:column;
    gap:15px;
    width:30vw;
}

.options{
    display:flex;
    width:100%;
}

.option{
    width:auto;
    padding-left: 5px;
    font-size: 18rem;
    font-weight: 400;
}

.option::placeholder{
    width:auto;
    font-size: 18rem;
    font-weight: 400;
}

.option2{
    width:45%;
}

h1{
    font-size:40rem;
    margin-bottom: 5vw;
    margin-top: 4vw;
}

#seperateUsernames{
    justify-content: space-between;
    gap:40px;
    width:100%;
}

.smallGap{
    gap:15px;
}

#createAccountDiv{
    padding:1vw;
    border-radius: 1.5vw;
    border: 1px solid black;
    background: linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(253, 249, 234) 100%);
    width: 44vw;
}

#createAccountReadText{
    margin:0px;
    font-family: "aileron", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size:14rem;
    padding-right:20px;
    padding-left:20px;
    padding-bottom:15px;
    padding-top:0px;
    text-align:center;
    color: #6D6B70;
}

#createAccountReadText a{
    text-decoration:none;
    color:#FF6666;
    font-weight: bolder;
    font-size: 14rem;
}

.buttonText{
    margin:0px;
    font-size:20rem;
    padding:1vw;
    font-weight:400;
    padding: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

#infoConsentText{
    margin:0px;
    font-size:14rem;
    color:#6D6B70;
    text-align:center;
    width: 44vw;
}

.signUpInfoText {
    padding-left:5px;
    font-size:14rem;
    text-align:center;
}

#emailMatchText{
    display:none;
    position:absolute;
    color:#FF6666;
    display: none;
    position: absolute;
    margin-top: -0.5vw;
    margin-left: 0;
    font-size: 10rem;
}

#passwordMatchText{
    display:none;
    position:absolute;
}

#message{
    font-size:10px;
    color:#FF6666;
}

#minPasswordLengthText{
    display:none;
    color:#FF6666;
    display: none;
    position: absolute;
    margin-top: -0.5vw;
    margin-left: 0;
    font-size: 10rem;

}

.signUpInfoText a{
    text-decoration:none;
    color:#FF6666;
}

#leftTextAlign{
    text-align:left;
}

#resetPasswordForm{
    border-radius:5vw;
    width:57vw;
    height: 19vw;
    border:0.5px solid black;
    background: linear-gradient(135deg, rgb(243, 231, 214) 0%, rgb(235, 229, 220) 50%, rgb(253, 249, 234) 100%);
    padding:10px;
    align-items: center;
}

#resetPasswordInfo{
    margin:0px;
    padding:20px;
    width:90%;
    text-align:left;
    font-size: 18rem;
    color: #6D6B70;
}

#resetPasswordButtons{
    display:flex;
    flex-direction:row;
    align-items:baseline;
    justify-content:flex-start;
    padding-left:40px;
    padding-right:40px;
    padding-top:30px;
}

#optionalText{
    position:absolute;
}

#minUsernameLengthText{
    display:none;
    position:absolute;
    margin-top: -0.5vw;
    margin-left: 0;
    font-size: 10rem;
}

.lineblackBackground {
    height: 3px;
}

.line {
    border-top: 0.5px solid #6D6B70; /* Use this to create a thicker line */
    margin: 10px 0; /* Optional: adjust spacing if needed */
    border-radius: 20vw;
}

.line1 {
    border-top: 0.5px solid #6D6B70; /* Use this to create a thicker line */
    margin: 10px 0; /* Optional: adjust spacing if needed */
    border-radius: 20vw;
}

.option.blank::placeholder {
    color: #6D6B70; /* Makes the placeholder text color white */
}

.SignUpInfoText1 {
    margin-top: 0.7vw;
}

#SignUpInfoText3 {
    color: #6D6B70;
}


